.table{
    width: 100%;
    padding: 0;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #ebeefa;
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #2046D2;
            position: absolute;
            left: 0;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        padding: 24px 24px;
        width: 100%;
        max-width: 300px;
    }
    &__item-title{
        span{
            font-size: 1.125rem;
            line-height: 100%;
            font-weight: 400;
            color: #69696D;
        }
    }
    &__item-value{
        span{
            font-size: 1.75rem;
            color: #000000;
            line-height: 100%;
            font-weight: 400;
        }
        sub{
            font-size: 1rem;
            line-height: 100%;
            color: #000000;
            position: relative;
            bottom: 6px;
        }
    }
}
.table--full{
    .table__item{
        max-width: 100%;
    }
}

@media (max-width: 465px) {
    .table{
        &__item{
            padding: 15px 28px;
            &-title{
                font-size: 14px;
                padding-right: 50px;
                line-height: 120%;
            }
            p{
                font-size: 24px;
                line-height: 120%;
            }
        }
        &__item-title{
            max-width: 45%;
        }
        &__item-value{
            padding: 0px;
            max-width: 55%;
            b{
                font-size: 14px;
            }
        }
    }
}