@import 'helpers/normalize';
@import 'helpers/variables';
@import 'helpers/fonts';
@import 'helpers/content';
@import 'helpers/helper';


//elements
@import 'elements/button';
@import 'elements/link';
@import 'elements/table';
@import 'elements/accordion';
@import 'elements/post';
@import 'elements/breadcrumbs';

//helpers
@import 'helpers/animations';
@import 'helpers/page-list';
@import 'helpers/ui';

//Components
@import 'components/faq';
// @import 'components/header';
// @import 'components/footer';

// @import 'components/hero';
// @import 'components/why';
// @import 'components/step';
// @import 'components/document';
// @import 'components/credit';
// @import 'components/help';
// @import 'components/blog';

// @import 'components/404';
// @import 'components/page';
// @import 'components/article';
// @import 'components/modal';
