
.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
  
    &__main {
      background-color: $white-bg;
      flex: 1;
      max-width: 100%;
    }
  }