$white: #fff;
$black: #30313d;
$blue: #2046d2;
$white-bg: #f8f9fc;
$blue-bg: #edf0fa;
$default-black: #000000;
$accent-color: #98e48a;
$gray-light: #b9b9b9;
$gray: #69696D;

$text-color: #353535;
$text-color--dark: #373737;
$text-color--light: #787878;
$divider-color: #cdccdc;
$transition: all ease-in-out 0.5s;
