.accordion{
    .accordion__content {
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition: all 0.5s;
    }
    .accordion__icon{
        width: 60px;
        height: 60px;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .accordion__content__item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 12px 34px;
        border: 1px solid #EBEEFA;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 10px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
            background-color: white;

        }
        .accordion__text {
            width: 100%;
            max-width: 85%;
            padding-left: 0px;
            p{
                color: #303030;
                font-size: 1rem;
                font-weight: 400;
            }
        }
        svg{
            width: 32px;
            height: 32px;
            &:hover path{
                // fill: $green !important;
            }
        }
    }
    .accordion__item{
        transition: 1s ease;
        svg{
            transition: all 0.3s;
            &:hover{
                path{
                    fill: $blue;
                }
            }
        }
    }
    .accordion__item.active{
        z-index: 99;
        .accordion__content {
            height: auto;
            opacity: 1;
            transition: all 0.5s;
        }
        .accordion__header svg{
            transform: rotate(180deg);
            path{
                fill: $blue;
            }
            
        }
    }
    .accordion__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 10px 0 34px;
        font-size: 24px;
        font-weight: 400;
        color: #1E1E1E;
        transition: all 0.3s;
        background: #E2E7F8;
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 12px;
        &:hover{
            color: $blue;
        }
        .active{
            border-bottom: 1px solid $blue;
            color: #000000;
        }
    }
}

@media (max-width: 1024px) {
    .accordion{
        min-height: 400px;
        .accordion__item {
            span {
                max-width: 85%;
                padding-left: 0;
                p{
                    font-size: 14px;
                }
            }
            svg{
                width: 20px;
                height: 20px;
                max-width: 15%;
            }
        }
        .accordion__header{
            font-size: 16px;
            line-height: 100%;
            height: 60px;
            padding-left: 20px;
            border-radius: 16px;
        }
        .accordion__icon{
            width: 40px;
            height: 40px;
            border-radius: 8px;
            svg{
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
        }
        .accordion__content__item{
            padding: 16px 0;
            border-radius: 16px;
            svg{
                max-width: 60px;
                width: 100%;
            }
            .accordion__text{
                max-width: 300px;
                padding-right: 20px;
                p{
                    font-size: 14px;
                    line-height: 100%;
                }
            }
        }
        
    }

}