$font-family: "Geologica", sans-serif;
$primary: #32bb78;
$green-hover: #34c981;
$blue: #2a55fa;
$blue-hover: #2f5af5; // change
$text: #585858;
$light-gray: #e2e2e2;
$gray: #f5f5f5;
$background: #fdfdfd;
$white: #ffffff;
$black: #0e121a;
